.container {
  gap: 10px;
}

.itemContainer {
  background: #E0FFE0;
  border: 1px solid #000000;
  border-radius: 12px;
  padding: 5px 10px;
  align-self: stretch;
}

.false {
  background-color: #FFE0E0;
}

.btn {
  align-self: stretch;
}