.container {
  width: 800px;
  max-width: 90vw;
}

.inputContainer {
  width: 60%;
}

.inputContainer > input {
  width: 100%;
}

.input {
  width: 50vw;
  max-width: 600px;
  min-width: 350px;
}

.resContainer {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.resCard {
  width: 80%;
  border: 1px solid #000;
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px;
}
